[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdree"]
	path = bundle/nerdree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/world_complete"]
	path = bundle/world_complete
	url = git://github.com/vim-scripts/word_complete.vim.git
[submodule "bundle/zen_coding"]
	path = bundle/zen_coding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "bundle/tabBar"]
	path = bundle/tabBar
	url = git://github.com/vim-scripts/TabBar.git
[submodule "bundle/gocode"]
	path = bundle/gocode
	url = git://github.com/nsf/gocode.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/xml.vim"]
	path = bundle/xml.vim
	url = git://github.com/othree/xml.vim.git
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = git://github.com/aperezdc/vim-template.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/movie_ide"]
	path = bundle/movie_ide
	url = http://code.dapps.douban.com/movie_ide.git
